* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.sidebar {
    width: 200px;
    margin-right: 20px;
}

.price-filter,
.color-filter {
    margin-bottom: 20px;
}

.price-filter label {
    display: block;
}

.color-filter ul {
    list-style-type: none;
}

.color-filter li a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
}

.color-filter li a:hover {
    background-color: #eee;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: calc((100% - 60px) / 3);
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card .price {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #666;
}